<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Same as before -->
</head>
<body>
  <h1>Webcam Capture</h1>
  <button id="captureButton">Capture Photo</button>
  <div id="cameraContainer">
    <video id="cameraPreview" autoplay></video>
  </div>
  <div id="photoContainer"></div>
  <script>
    // Same as before
  </script>
</body>
</html>
